# 参考配置https://blog.csdn.net/ajlzhu/article/details/81009845
server:
  port: 8080
spring:
  application:
    name: model
  datasource:
    url: ${db_url}
    username: ${db_username}
    password: ${db_password}
    driver-class-name: com.mysql.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
  druid:
    initial-size: 5
    min-idle: 5
    max-active: 20
    max-wait: 60000
    time-between-eviction-runs-millis: 60000
    min-evictable-idle-time-millis: 300000
    validation-query: SELECT 1
    test-while-idle: true
    test-on-borrow: false
    test-on-return: false
    pool-prepared-statements: true
    max-pool-prepared-statement-per-connection-size: 20
    filters: stat,wall,log4j
    use-global-data-source-stat: true
    connection-properties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=500
#配置映射文件
mybatis:
  mapper-locations: classpath:/mapper/*.xml
  type-aliases-package: com.wllfengshu.model.entity
#配置通用mapper
mapper:
  mappers: com.wllfengshu.model.utils.MyMapper
  not-empty: false
  identity: MYSQL
#分页插件
pagehelper:
  helper-dialect: mysql
  reasonable: true
  params: count=countSql
  support-methods-arguments: true





